In [1]:
import pandas as pd 
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt

df = pd.read_csv('goals.csv')

In [2]:
df2 = df.groupby('player_id')
goal_klose = df[df['player_id'] == 'P-05224']

In [16]:
top7 = df['player_id'].value_counts()[:7].index.tolist()
top7

['P-05224', 'P-08490', 'P-02173', 'P-03429', 'P-02537', 'P-09516', 'P-06978']

In [17]:
top_goals = [i for i in top7]
top_goals

['P-05224', 'P-08490', 'P-02173', 'P-03429', 'P-02537', 'P-09516', 'P-06978']

In [18]:
zeb = [df[df['player_id'] == i]['family_name'] for i in top7]
zeb

[1761    Klose
 1762    Klose
 1765    Klose
 1801    Klose
 1845    Klose
 1918    Klose
 1919    Klose
 1994    Klose
 1995    Klose
 2049    Klose
 2073    Klose
 2170    Klose
 2192    Klose
 2194    Klose
 2289    Klose
 2368    Klose
 Name: family_name, dtype: object,
 1623    Ronaldo
 1713    Ronaldo
 1715    Ronaldo
 1744    Ronaldo
 1782    Ronaldo
 1821    Ronaldo
 1860    Ronaldo
 1861    Ronaldo
 1897    Ronaldo
 1908    Ronaldo
 1914    Ronaldo
 1915    Ronaldo
 2023    Ronaldo
 2026    Ronaldo
 2041    Ronaldo
 Name: family_name, dtype: object,
 775    Müller
 796    Müller
 797    Müller
 799    Müller
 809    Müller
 810    Müller
 811    Müller
 833    Müller
 840    Müller
 843    Müller
 869    Müller
 915    Müller
 936    Müller
 947    Müller
 Name: family_name, dtype: object,
 1967    Messi
 2243    Messi
 2285    Messi
 2329    Messi
 2331    Messi
 2481    Messi
 2562    Messi
 2603    Messi
 2672    Messi
 2699    Messi
 2706    Messi
 2714    Messi
 2718    Messi
 Name: family_name, dtype: object,
 461    Fontaine
 462    Fontaine
 467    Fontaine
 494    Fontaine
 497    Fontaine
 518    Fontaine
 545    Fontaine
 546    Fontaine
 552    Fontaine
 562    Fontaine
 565    Fontaine
 568    Fontaine
 570    Fontaine
 Name: family_name, dtype: object,
 543    Pelé
 554    Pelé
 555    Pelé
 556    Pelé
 574    Pelé
 577    Pelé
 586    Pelé
 672    Pelé
 770    Pelé
 804    Pelé
 807    Pelé
 846    Pelé
 Name: family_name, dtype: object,
 2426    Mbappé
 2505    Mbappé
 2506    Mbappé
 2546    Mbappé
 2568    Mbappé
 2600    Mbappé
 2602    Mbappé
 2676    Mbappé
 2677    Mbappé
 2716    Mbappé
 2717    Mbappé
 2719    Mbappé
 Name: family_name, dtype: object]

In [19]:
aqw = [df[df['player_id'] == i]['family_name'] for i in top7]
aqw

[1761    Klose
 1762    Klose
 1765    Klose
 1801    Klose
 1845    Klose
 1918    Klose
 1919    Klose
 1994    Klose
 1995    Klose
 2049    Klose
 2073    Klose
 2170    Klose
 2192    Klose
 2194    Klose
 2289    Klose
 2368    Klose
 Name: family_name, dtype: object,
 1623    Ronaldo
 1713    Ronaldo
 1715    Ronaldo
 1744    Ronaldo
 1782    Ronaldo
 1821    Ronaldo
 1860    Ronaldo
 1861    Ronaldo
 1897    Ronaldo
 1908    Ronaldo
 1914    Ronaldo
 1915    Ronaldo
 2023    Ronaldo
 2026    Ronaldo
 2041    Ronaldo
 Name: family_name, dtype: object,
 775    Müller
 796    Müller
 797    Müller
 799    Müller
 809    Müller
 810    Müller
 811    Müller
 833    Müller
 840    Müller
 843    Müller
 869    Müller
 915    Müller
 936    Müller
 947    Müller
 Name: family_name, dtype: object,
 1967    Messi
 2243    Messi
 2285    Messi
 2329    Messi
 2331    Messi
 2481    Messi
 2562    Messi
 2603    Messi
 2672    Messi
 2699    Messi
 2706    Messi
 2714    Messi
 2718    Messi
 Name: family_name, dtype: object,
 461    Fontaine
 462    Fontaine
 467    Fontaine
 494    Fontaine
 497    Fontaine
 518    Fontaine
 545    Fontaine
 546    Fontaine
 552    Fontaine
 562    Fontaine
 565    Fontaine
 568    Fontaine
 570    Fontaine
 Name: family_name, dtype: object,
 543    Pelé
 554    Pelé
 555    Pelé
 556    Pelé
 574    Pelé
 577    Pelé
 586    Pelé
 672    Pelé
 770    Pelé
 804    Pelé
 807    Pelé
 846    Pelé
 Name: family_name, dtype: object,
 2426    Mbappé
 2505    Mbappé
 2506    Mbappé
 2546    Mbappé
 2568    Mbappé
 2600    Mbappé
 2602    Mbappé
 2676    Mbappé
 2677    Mbappé
 2716    Mbappé
 2717    Mbappé
 2719    Mbappé
 Name: family_name, dtype: object]

In [7]:
top_players = []
for i in zeb:
    for j in i:
        if j not in top_players:
            top_players.append(j)
            
top_players

[]

In [8]:
l_goals = []
for i in range(len(zeb)):
    l_goals.append(zeb[i].count())
    
l_goals

[0, 0, 0, 0, 0, 0, 0]

In [9]:
df_top = pd.DataFrame({'goals':[l_goals]
    
})

In [10]:
top7 = df['player_id'].value_counts()[:7]
for i in top7:
    print(i)

16
15
14
13
13
12
12

In [11]:
listo = [i for i in df[df['player_id'] == 'P-05224']['family_name']]
listo

['Klose',
 'Klose',
 'Klose',
 'Klose',
 'Klose',
 'Klose',
 'Klose',
 'Klose',
 'Klose',
 'Klose',
 'Klose',
 'Klose',
 'Klose',
 'Klose',
 'Klose',
 'Klose']

In [12]:
df.loc

In [13]:
azer = df.groupby(df['player_id'].value_counts()[:7])

In [14]:
azer