In [1]:
import pandas as pd 
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('../Dataset/goals.csv')
df.dtypes

key_id                int64
goal_id              object
tournament_id        object
tournament_name      object
match_id             object
match_name           object
match_date           object
stage_name           object
group_name           object
team_id              object
team_name            object
team_code            object
home_team             int64
away_team             int64
player_id            object
family_name          object
given_name           object
shirt_number          int64
player_team_id       object
player_team_name     object
player_team_code     object
minute_label         object
minute_regulation     int64
minute_stoppage       int64
match_period         object
own_goal              int64
penalty               int64
dtype: object

In [3]:
df.describe(include = 'all')

,key_id,goal_id,tournament_id,tournament_name,match_id,match_name,match_date,stage_name,group_name,team_id,...,shirt_number,player_team_id,player_team_name,player_team_code,minute_label,minute_regulation,minute_stoppage,match_period,own_goal,penalty
count,2720.00000,2720,2720,2720,2720,2720,2720,2720,2720,2720,...,2720.000000,2720,2720,2720,2720,2720.000000,2720.000000,2720,2720.000000,2720.000000
unique,NaN,2720,22,22,886,708,372,8,15,81,...,NaN,82,82,81,133,NaN,NaN,8,NaN,NaN
top,NaN,G-0001,WC-2022,2022 FIFA World Cup,M-1954-19,Brazil v Sweden,1934-05-27,group stage,not applicable,T-09,...,NaN,T-09,Brazil,BRA,75',NaN,NaN,second half,NaN,NaN
freq,NaN,1,172,172,12,28,43,1808,818,237,...,NaN,238,238,238,47,NaN,NaN,1425,NaN,NaN
mean,1360.50000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.430147,NaN,NaN,NaN,NaN,51.580882,0.115074,NaN,0.019853,0.078676
std,785.34069,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.797733,NaN,NaN,NaN,NaN,27.534339,0.716788,NaN,0.139520,0.269283
min,1.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,NaN,NaN,NaN,NaN,1.000000,0.000000,NaN,0.000000,0.000000
25%,680.75000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,NaN,NaN,NaN,NaN,28.000000,0.000000,NaN,0.000000,0.000000
50%,1360.50000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.000000,NaN,NaN,NaN,NaN,53.000000,0.000000,NaN,0.000000,0.000000
75%,2040.25000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,13.000000,NaN,NaN,NaN,NaN,75.000000,0.000000,NaN,0.000000,0.000000
max,2720.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,26.000000,NaN,NaN,NaN,NaN,120.000000,13.000000,NaN,1.000000,1.000000

In [4]:
df.head()

,key_id,goal_id,tournament_id,tournament_name,match_id,match_name,match_date,stage_name,group_name,team_id,...,shirt_number,player_team_id,player_team_name,player_team_code,minute_label,minute_regulation,minute_stoppage,match_period,own_goal,penalty
0,1,G-0001,WC-1930,1930 FIFA World Cup,M-1930-01,France v Mexico,1930-07-13,group stage,Group 1,T-28,...,0,T-28,France,FRA,19',19,0,first half,0,0
1,2,G-0002,WC-1930,1930 FIFA World Cup,M-1930-01,France v Mexico,1930-07-13,group stage,Group 1,T-28,...,0,T-28,France,FRA,40',40,0,first half,0,0
2,3,G-0003,WC-1930,1930 FIFA World Cup,M-1930-01,France v Mexico,1930-07-13,group stage,Group 1,T-28,...,0,T-28,France,FRA,43',43,0,first half,0,0
3,4,G-0004,WC-1930,1930 FIFA World Cup,M-1930-01,France v Mexico,1930-07-13,group stage,Group 1,T-44,...,0,T-44,Mexico,MEX,70',70,0,second half,0,0
4,5,G-0005,WC-1930,1930 FIFA World Cup,M-1930-01,France v Mexico,1930-07-13,group stage,Group 1,T-28,...,0,T-28,France,FRA,87',87,0,second half,0,0